
<div class="control-group">
    {{ form_errors(form.title) }}
    {{ form_label(form.title, 'Title', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.title) }}
    </div>
</div>
<div class="control-group">
    {{ form_errors(form.url) }}
    {{ form_label(form.url, 'Url', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.url) }}
    </div>
</div>
<div class="control-group">
    {{ form_errors(form.description) }}
    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="control-group">
    {{ form_errors(form.finishDate) }}
    {{ form_label(form.finishDate, 'Finish Date', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.finishDate) }}
    </div>
</div>
<div class="control-group">
    {{ form_errors(form.status) }}
    {{ form_label(form.status, 'Status', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.status) }}
    </div>
</div>
<div class="control-group">
    {{ form_errors(form.country) }}
    {{ form_label(form.country, 'Country', { 'label_attr': {'class': 'control-label'} }) }}
    <div class="controls">
        {{ form_widget(form.country) }}
    </div>
</div>